[submodule "betlang"]
	path = betlang
	url = git@github.com:hyperpolymath/betlang.git
[submodule "julia-the-viper"]
	path = julia-the-viper
	url = git@github.com:hyperpolymath/julia-the-viper.git
[submodule "affinescript"]
	path = affinescript
	url = git@github.com:hyperpolymath/affinescript.git
[submodule "eclexia"]
	path = eclexia
	url = git@github.com:hyperpolymath/eclexia.git
[submodule "ephapax"]
	path = ephapax
	url = git@github.com:hyperpolymath/ephapax.git
[submodule "my-lang"]
	path = my-lang
	url = git@github.com:hyperpolymath/my-lang.git
[submodule "oblibeny"]
	path = oblibeny
	url = git@github.com:hyperpolymath/oblibeny.git
[submodule "phronesis"]
	path = phronesis
	url = git@github.com:hyperpolymath/phronesis.git
[submodule "wokelang"]
	path = wokelang
	url = git@github.com:hyperpolymath/wokelang.git
[submodule "anvomidav"]
	path = anvomidav
	url = git@github.com:hyperpolymath/anvomidav.git
[submodule "language-playgrounds"]
	path = language-playgrounds
	url = git@github.com:hyperpolymath/language-playgrounds.git
[submodule "error-lang"]
	path = error-lang
	url = git@github.com:hyperpolymath/error-lang.git
[submodule "tangle"]
	path = tangle
	url = git@github.com:hyperpolymath/tangle.git
